// colors

$color-1: #000000; // black
$color-2: #008148; // TaWo gruen
$color-3: #ffffff; // white


// fonts

$primary-font: Georgia, Times, 'Times New Roman', serif;
$secondary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;

// animation

$animation-duration: 0.7s;

